header {
  padding: $spacing-m 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 10rem;
  height: 4.8rem;
}

header ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: $spacing-l;

  img {
    width: 2.4rem;
    height: 2.4rem;
  }
}
