$gradient: linear-gradient(270deg, #1a4855 0%, #628e75 100%);
$green: #628e75;
$white: #f9f9f9;

$spacing-s: 0.8rem;
$spacing-m: 1.6rem;
$spacing-l: 2.4rem;
$spacing-xl: 3.2rem;

$text-m: 1.6rem;
$text-l: 2.4rem;
$text-xl: 3.2rem;
$text-h: 6.4rem;
